<%= erb :header %>

<div class="row">
  <div class="col-md-3">
    <ul class="nav nav-tabs nav-stacked">
      <li class="nav-header">数学王国</li>
      <li><ul class="inline">
        <% 1.upto(18).each do |i|
          num = sprintf("%02d", i)
        %>
          <li><a href="#<%= num %>"><%= num %></a></li>
        <% end %>
      </ul></li>
      <li class="nav-header">数学教室</li>
      <li><a href="/img/math/lec_yogen.pdf" target="_blank">第一余弦定理</a></li>
      <li><a href="/img/math/lec_kansu.pdf" target="_blank">関数の対称点移動</a></li>
      <li><a href="/img/math/lec_circle.pdf" target="_blank">円に内接する四角形</a></li>
      <li><a href="/img/math/lec_senkei.pdf" target="_blank">固有ベクトル</a></li>
    </ul>
  </div>
  <div class="col-md-9">
    <% 1.upto(18).each do |i|
      num = sprintf("%02d", i)
    %>
      <a id="<%= num %>" href="/img/math/toi<%= num %>.png"><img src="/img/math/toi<%= num %>.png" width="100%" color="img-poloroid"></a>
      <a href="/img/math/ans<%= num %>.pdf">答え</a>
    <% end %>
  </div>
</div>

<%= erb :footer %>



